
.container {
    background-color: #f9f9f9;
    padding: 20px 2% 20px 17%;
}

.large-container {
    padding-left: 7%;
}

/* Media Queries */

@media screen and (max-width:900px) {
    .large-container , .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}